html, body {
    margin: 0;
    padding: 0;
}

#frame1 {
    background: #947032;
    position:relative;
    height:100%;
    width:100%;
    overflow: hidden;
}
#speech_bubble_frame1{
    background-image:url(img/frame1/SVG/speech_bubble_frame1.svg);
    background-repeat: no-repeat;
    background-size: 40% auto;
    height:100%;
    width:100%;
    top:2%;
    left:25%;
    position:absolute;
}


#frame2{
    background: #677C75;
    height: 140vh;
    width: 100%;
}
#frame2_text_container{
    display:flex;
    height:inherit;
    width:100%;
    justify-content:center;
    align-items: center;
    position:absolute;
    z-index:1;
}
#frame2_text {
    color: #FFF8DC;
    font-size: 400%;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15%;
}
#cloud_top_container{
    display:flex;
    width: 100%;
    height: 141vh;
    justify-content:center;
    align-items:flex-end;
    position:absolute;
    z-index:2;
    overflow:hidden;
}
#cloud_top{
    width:100%;
}


#frame3{
    background: #B3B785;
    height: 150vh;
    width: 100%;
}
#frame3_animation_container{
    background: #B3B785;
    height: 150vh;
    width: 100%;
    overflow: hidden;
}

#cloud_bottom_container{
    display: flex;
    height: inherit;
    width: 100%;
    justify-content:center;
    align-items:flex-start;
    position:absolute;
    z-index:2;
    overflow:hidden;
}
#cloud_bottom{
    width:100%;
}
#frame3_kira_container{
    display: flex;
    height: inherit;
    width: 100%;
    justify-content:center;
    align-items:center;
    position:absolute;
    z-index:1;
    overflow:hidden;
}
#frame3_kira{
    height:50%;
    width:50%;
}


#frame4{
    background: #B3B785;
    height: 140vh;
    width: 100%;
}
#frame4_animation_container{
    background: #B3B785;
    height: 140vh;
    width: 100%;
    overflow: hidden;
}
#frame4_text_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}
#frame4_text{
    color: #573A12;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    width: 40%;
}
#symbol_container{
    display:flex;
    width:100%;
    justify-content: space-between;
    position:absolute;
    z-index:1;
}
#democratic_symbol{
    height:35%;
    width:35%;
}
#republican_symbol{
    height:40%;
    width:40%;
}
#kira_frame4_container{
    height:100%;
    width:100%;
    position:absolute;
    z-index:2;
    display:flex;
    justify-content:center;
    overflow:hidden; 
}
#kira_frame4{
    height:35%;
    width:35%;
    margin:10%;   
}
#bubble_frame4_container{
    height:100%;
    width:100%;
    position:absolute;
    z-index:3;
    display:flex;
    justify-content:center;
    overflow:hidden; 
}
#bubble_frame4{
    height:60%;
    width:60%;
    margin:5%;   
}



#frame5{
    background: #B3B785;
    height: 120vh;
    width: 100%;
}
#frame5_animation_container{
    background: #B3B785;
    height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#frame5_text{
    color: #573A12;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}



#frame6{
    background: #B3B785;
    height: 120vh;
    width: 100%;
}
#frame6_animation_container{
    background: #B3B785;
    height: 120vh;
    width: 100%;
    overflow: hidden;
}
#frame6_text_container{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#frame6_text{
    color: #573A12;
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
}

#frame6_container_1{
    display:flex;
    width:100%;
    justify-content: space-evenly;
    position:absolute;
    z-index:1;
}
#change_truck{
    height:30%;
    width:30%;
    align-self: center;
    justify-self: flex-start;
}
#mental_health{
    height:30%;
    width:30%;
    align-self: center;
    justify-self: flex-end;
}

#frame6_container_2{
    display:flex;
    width:100%;
    justify-content: center;
    position:absolute;
    z-index:1;
}
#broken_heart{
    height:20%;
    width:20%;
    margin: 20%;
}








#frame7{
    background: #86B0A6;
    height:100%;
    overflow:hidden;
}
#convo_intro_text_container{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#convo_intro_text{
    width: 40%;
    color: #FFF8DC;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}
#convo_image{
    background-image: url("img/frame1/SVG/conversation.svg");
    height: 100vh;
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index:2; 
}
#convo1_text_container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#convo1_text{
    width: 40%;
    color: #FFF8DC;
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
#convo2_text_container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#convo2_text{
    width: 40%;
    color: #FFF8DC;
    font-size: 40px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}
#convo3_text_container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
#convo3_text{
    width: 40%;
    color: #FFF8DC;
    font-size: 40px;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}
#convo4_text_container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
#convo4_text{
    width: 40%;
    color: #FFF8DC;
    font-size: 40px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}
#convo5_text_container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
#convo5_text{
    width: 40%;
    color: #FFF8DC;
    font-size: 40px;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}










#frame8{
    background: #677261;
    height: 130vh;
    width: 100%;
    overflow: hidden;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
#frame8_text{
    width: 65%;
    color: #FFF8DC;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    margin: 10%;
}



#frame9{
    background: #8A1B20;
    height: 130vh;
    width: 100%;
    overflow: hidden;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
#frame9_container{
    height: 60%;
    width: 60%;
    margin: 10%;
}


#frame10{
    background: #FFF8DC;
    height: 130vh;
    width: 100%;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}
#frame10_text{
    width: 60%;
    color: #000000;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    margin: 10%;
}


#frame11{
    background: #FFF8DC;
    height: 130vh;
    width: 100%;
    overflow: hidden;
}
#frame11_text_container_1{
    display:flex;
    height:100%;
    width: 100%;
    position:absolute;
    z-index: 2;
    font-size: 60px;
    margin: 2%;
    font-family: 'Roboto', sans-serif;
    justify-content: flex-start;
    align-items: flex-start;
}

#frame11_text_container_2{
    display:flex;
    height:100%;
    width: 100%;
    position:absolute;
    z-index: 3;
    font-size: 60px;
    margin: -2%;
    font-family: 'Roboto', sans-serif;
    justify-content: flex-end;
    align-items: flex-end;
}

#flag_container{
    display: flex;
    height:100%;
    width:100%;
    position:absolute;
    z-index:1;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden; 
}
#flag{
    height: 60%;
    width: 60%;
}


#frame12{
    background: #FFF8DC;
    height: 130vh;
    width: 100%;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}
#frame12_text{
    width: 50%;
    color: #000000;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


#frame13{
    background: #FFF8DC;
    height: 120vh;
    width: 100%;
    overflow: hidden;
}
#frame13_text_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    position: absolute;
    z-index:2;
}
#frame13_text{
    color: #573A12;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    width: 50%;
    text-align: center;
}
#kira_frame13_container{
    height:100vh;
    width:100%;
    position:absolute;
    z-index:0;
    display:flex;
    justify-content:center;
    overflow:hidden;
    margin-top: 10%;
}
#kira_frame13{
    height:37%;
    width:37%;   
}
#bubble_frame13_container{
    height:100vh;
    width:100%;
    position:absolute;
    z-index:3;
    display:flex;
    justify-content:center;
    overflow:hidden;
    margin-top: 10%;
}
#bubble_frame13{
    height:75%;
    width:75%;
      
}


#frame14{
    background: #573A12;
    height: 130vh;
    width: 100%;
    overflow: hidden;
}
#frame14_text_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
#frame14_text{
    width: 60%;
    color: #E0CDAD;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    margin: 10%;
}


#frame15{
    background: #E0CDAD;
    height: 130vh;
    width: 100%;
    overflow: hidden;
}
#frame15_text_container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
#frame15_text{
    color: #573A12;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    width: 50%;
    margin-top: 5%;
    text-align: center;
}
#frame15_kira_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 2;
}
#frame15_kira{
    height: 55%;
    width: 55%;
}



#frame16{
    background: #EECD5C;
    height: 130vh;
    width: 100%;
    overflow: hidden;
}
#frame16_text_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
#frame16_text1{
    width: 60%;
    color: #573A12;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    margin: 10%;
}
#frame16_text2{
    width: 60%;
    color: #573A12;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
}


#frame17{
    background: #EECD5C;
    height: 130vh;
    width: 100%;
}
#kira_frame17_container{
    display:flex;
    height: 130vh;
    width: 100%;
    justify-content: flex-end;
    overflow: hidden;
    position: absolute;
    z-index: 2;

}
#kira_frame17{
    background-image: url("img/frame1/SVG/kira_flag.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    height: 80%;
    width: 80%;
}

#frame17_text_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: inherit;
    width: 100%;
    position: absolute;
    z-index:1;
}

#frame17_text{
    width: 30%;
    color: #573A12;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    margin: 5%;
}


#frame18{
    background: #EECD5C;
    height: 200vh;
    width: 100%;
}

#frame18_animation_container{
    background: #EECD5C;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
#frame18_speech_bubble_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 50%;
    position: absolute;
    z-index:1;
    margin-left: 15%
}

#frame18_speech_bubble{
    background-image: url("img/frame1/SVG/frame18_speech_bubble.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    height: 80%;
    width: 80%;
}

#frame19 {
    background: #947032;
    position:relative;
    height:100%;
    width:100%;
    overflow: hidden;
}